@{
  Layout = "_Layout";
}

<!-- @model Factory.Models.Engineer

<div class = "container">
  <div class = "infoBox">
    <h2>Add Machine to Engineer: @Html.DisplayFor(model => model.Name)</h2>

    @using (Html.BeginForm())
    {
      @Html.HiddenFor(model => model.EngineerId)

      <h3>@Html.Label("Select Machine")
      @Html.DropDownList("MachineId")</h3>
      <br />
      <input type = "submit" value = "Save" class = "btn2"/>  
    }
    @Html.ActionLink("Cancel", "Index", null, null, new { @class = "btn" })
  </div>
</div> -->