@{
  Layout = "_Layout";
}

@model PierreBakery.Models.Treat

<div class = "container">
  <h2>Edit Treat: @Html.DisplayFor(model => model.Name)</h2>

  <div class = "infoBox">
    @using (Html.BeginForm())
    {
      @Html.HiddenFor(model => model.TreatId)

      <h3>@Html.LabelFor(model => model.Name)
      @Html.EditorFor(model => model.Name, new { @class = "wordLink", required = "required", })

      <br />
      <input type = "submit" value = "Save" class = "btn2" />
    }
    @Html.ActionLink("Cancel", "Index", null, null, new { @class = "btn" })
  </div>
</div>