@{
  Layout = "_Layout";
}

@using PierreBakery.Models

<div class = "container">
  @if (User.Identity.IsAuthenticated)
  {
  <h2>Welcome @User.Identity.Name !</h2>
  @using (Html.BeginForm("LogOff", "Account"))
    {
      <input type="submit" class="btn btn-primary" value="Log Out"/>
    }
  }
  else
  {
    <h5 class = "linkWordColor">@Html.ActionLink("Create/Login Account", "Index", "Account")</h5>
  }

  @Html.ActionLink("Add Treat", "Create", "Treats", null, new { @class = "pageLink" })
  @Html.ActionLink("Add Flavor", "Create", "Flavors", null, new { @class = "pageLink" })

  <img src = "~/image/flavor.jpg">

  <div class = "row">
    <div class = "col">
      @if (ViewBag.Treats.Count == 0)
      {
        <h3>No Treat Yet!</h3>
      }
      else
      {
        <h2>Treats List</h2>
        <h6>*Click on Treat to See Details* </h6>
        @foreach (Treat treat in @ViewBag.Treats)
        {
          <li>@Html.ActionLink($"{ treat.Name }", "Details", "Treats", new { id = treat.TreatId }, new { @class = "linkWordColor" })</li>
        }
      }
    </div>
    <div class = "col">
      @if (ViewBag.Flavors.Count == 0) 
      {
        <h3>No flavor Yet!</h3>
      }
      else
      {
        <h2>Flavors List</h2>
        <h6>*Click on Flavor to See Details* </h6>
        @foreach (Flavor flavor in ViewBag.Flavors)
        {
          <li>@Html.ActionLink($"{ flavor.Name }", "Details", "Flavors", new { id = flavor.FlavorId }, new { @class = "linkWordColor" })</li>
        }
      }
    </div>
  </div>
</div>