@{
  Layout = "_Layout";
}

@model SavorySweets.Models.Flavor
<h2>Editing Flavor: @Html.DisplayFor(model => model.Name) @Html.ActionLink("Home", "Index", "Home", null, new { @class ="pageLink4" })</h2>

<div class = "infoBox">
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.FlavorId)
    <h3>Flavor @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)</h3>

    <input type = "submit" value = "Save" class = "btn2" />
  }
  @Html.ActionLink("Cancel", "Index", null, null, new { @class = "btn" })
</div>

<img class = "image" src = "~/image/candy11.png"> 


