@{
  Layout = "_Layout";
}

<!-- @model Factory.Models.Machine

<div class = "container">
  <div class = "infoBox">
    <h2>Add a Engineer to this Machine: @Html.DisplayFor(model => model.Name)</h2>
    
    @using (Html.BeginForm())
    {
      @Html.HiddenFor(model => model.MachineId)

      <h3>@Html.Label("Select Engineer ")
      @Html.DropDownList("EngineerId")</h3>
      <br />
      <input type = "submit" value = "Save"  class = "btn2"/>
    }
    @Html.ActionLink("Cancel", "Index", null, null, new { @class = "btn" })
  </div>
</div> -->

